.header {
  /* background-color: white; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.toolbar {
  display: flex !important;
  justify-content: space-between !important;
  padding: 8px 0 !important;
}

.logo-container {
  display: flex !important;
  align-items: center !important;
}

.logo {
  font-family: "Vast Shadow", sans-serif;
  font-weight: 700;
  color: #ff3366;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 2.2rem;
}

.logo-icon {
  color: #1fab89 !important;
  font-size: 2rem !important;
  margin-left: 5px !important;
  display: inline-block !important;
  transform: translateY(-2px) !important;
}

.nav-menu {
  display: flex !important;
  flex-grow: 1 !important;
  margin-left: 80px !important;
  justify-content: start !important;
}

.nav-item {
  color: black !important;
  margin: 0 8px !important;
  padding: 6px 15px !important;
  border-radius: 0 !important;
  font-size: 1rem !important;
}

.nav-item:hover {
  background-color: transparent !important;
  opacity: 0.8 !important;
}

.nav-item.active {
  border-bottom: 3px solid #1fab89 !important;
}

.icons-container {
  display: flex !important;
  align-items: center !important;
}

.account-icon {
  color: #1b5e20 !important;
}


/* User Profile Modal Styles */
.user-profile-modal {
  width: 300px;
  padding: 16px;
}

.user-profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.user-avatar {
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.user-info {
  flex: 1;
}

.user-name {
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 1.1rem;
}

.user-email {
  color: #666;
  font-size: 0.9rem;
}

.user-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.menu-item {
  justify-content: flex-start;
  text-transform: none;
  padding: 8px 0;
  color: #333;
}

.menu-item:hover {
  background-color: rgba(31, 171, 137, 0.1);
  color: #1fab89;
}

.menu-divider {
  margin: 8px 0 16px;
}

.logout-button {
  background-color: #1fab89;
  color: white;
  text-transform: none;
  padding: 10px;
  border-radius: 30px;
}

.logout-button:hover {
  background-color: #158f73;
}
