.cart-item {
  display: grid;
  grid-template-columns: 35% 22% 8% 15% 15% 5%;
  padding: 16px 24px;
  border-bottom: 1px solid #eee;
  align-items: center;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "product"
      "details"
      "actions";
    gap: 12px;
  }

  &:last-child {
    border-bottom: none;
  }

  .product-info {
    display: flex;
    align-items: center;
    gap: 12px;

    @media (max-width: 768px) {
      grid-area: product;
    }

    .select-checkbox {
      color: #1fab89;
    }

    .product-image {
      width: 80px;
      height: 80px;
      object-fit: contain;
      background-color: #f9f9f9;
      border-radius: 4px;
    }

    .product-name {
      font-weight: 500;
      color: #5b200d;
    }
    .remain-quantity {
      font-size: 13px;
      color: #ff4800;
      font-weight: 400;
      padding-top: 5px;
    }
  }

  .category-info {
    @media (max-width: 768px) {
      grid-area: details;
      display: flex;
      align-items: center;
      gap: 16px;
      margin-left: 40px;
    }
  }
  .color-info {
    @media (max-width: 768px) {
      grid-area: details;
      display: flex;
      align-items: center;
      gap: 16px;
      margin-left: 40px;
    }
  }

  .price-info {
    text-align: center;

    @media (max-width: 768px) {
      text-align: left;
      grid-area: details;
      margin-left: 140px;
    }

    .original-price {
      text-decoration: line-through;
      color: #999;
      font-size: 0.8rem;
    }

    .current-price {
      font-weight: 600;
    }
  }

  .quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    @media (max-width: 768px) {
      grid-area: actions;
      justify-content: flex-start;
      margin-left: 40px;
    }

    .MuiIconButton-root {
      border: 1px solid #ddd;
      padding: 2px;

      &:disabled {
        color: #ccc;
        border-color: #eee;
      }
    }

    .quantity-value {
      min-width: 30px;
      text-align: center;
    }
  }
  .no-quantity-value {
    min-width: 30px;
    text-align: center;
    font-size: 13px;
    color: #ff4800;
  }

  .action-buttons {
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
      grid-area: actions;
      justify-content: flex-end;
    }

    .delete-button {
      color: #ff3366;
    }
  }
}
