.ai-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    padding: 10px 16px;
    // background: linear-gradient(270deg, #00c6ff, #0072ff, #00c6ff);
    background: linear-gradient(270deg, #f9a6b6, #FD1342, #FF7C92);
    background-size: 400% 400%;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    animation: shimmer 6s ease infinite;
    z-index: 1500;
  }
  
  @keyframes shimmer {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  